## Valorant Decision Tree Model

In [25]:
# Initial imports
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import accuracy_score 
from sqlalchemy import create_engine, Column, Integer, String, Boolean, Float, ForeignKey

# import tensorflow as tf
# from tensorflow import keras
# from tensorflow.keras import layers
# from kerastuner.tuners import RandomSearch
# from tensorflow.keras.callbacks import EarlyStopping

## Loading and Preparing Agent Data

In [26]:
import sqlite3

# Create database connection
engine = create_engine('sqlite:///SQLite/Valorant.sqlite')

In [27]:
# Querying and creating Dataframe
query_1 = """
    SELECT agents.agent, round_results.roundResult, player_stats.competitiveTier, player_stats.roundsPlayed, player_stats.score, match_info.gameLengthMillis, player_stats.assists, player_stats.kills, player_stats.deaths, team_stats.numPoints
    FROM agents
    INNER JOIN round_results ON agents.id = round_results.id
    INNER JOIN player_stats ON agents.id = player_stats.id
    INNER JOIN player_kills ON agents.id = player_kills.id 
    INNER JOIN match_info ON agents.id = match_info.id
    INNER JOIN team_stats ON agents.id = team_stats.id
"""

agent_df = pd.read_sql(query_1, engine)
agent_df

,agent,roundResult,competitiveTier,roundsPlayed,score,gameLengthMillis,assists,kills,deaths,numPoints
0,Gekko,Bomb detonated,IRON_1,22,1140,2046675,0,4,8,9
1,Fade,Eliminated,IRON_2,22,6855,2083360,3,22,16,13
2,Breach,Eliminated,UNRANKED,22,3669,2155617,2,12,17,13
3,Deadlock,Eliminated,IRON_2,22,4817,2307563,5,17,13,8
4,Raze,Eliminated,IRON_2,22,2580,2453157,4,9,11,8
5,Chamber,Bomb detonated,IRON_3,22,2875,1866841,10,10,10,13
6,KAY/O,Eliminated,IRON_3,22,1723,2228659,3,4,18,13
7,Skye,Bomb defused,IRON_3,22,7816,1732559,4,27,12,9
8,Cypher,Bomb defused,IRON_1,22,3586,1916596,3,12,10,13
9,Sova,Eliminated,IRON_3,22,3974,1956727,3,14,16,10
10,Sova,Bomb defused,BRONZE_2,21,3705,1680136,6,15,13,13
11,Killjoy,Eliminated,SILVER_1,21,4594,2238195,3,17,16,6
12,Harbor,Eliminated,BRONZE_2,21,4514,1802726,4,16,13,11
13,Viper,Eliminated,SILVER_1,21,4671,1946813,6,15,17,13
14,Phoenix,Eliminated,BRONZE_3,21,2947,2359173,3,11,17,13
15,Astra,Eliminated,BRONZE_3,21,8995,2023205,2,32,14,6
16,Brimstone,Eliminated,BRONZE_2,21,3812,2517166,3,14,15,6
17,Neon,Eliminated,BRONZE_2,21,3213,1620200,5,8,19,13
18,Yoru,Eliminated,BRONZE_2,21,2108,1928216,7,6,16,7
19,Sage,Eliminated,SILVER_1,21,5790,1791523,3,21,15,13
20,Reyna,Eliminated,SILVER_2,21,4018,2206475,3,14,17,10
21,Omen,Eliminated,SILVER_2,21,2841,1916070,3,9,17,8
22,Jett,Bomb defused,SILVER_1,21,2757,2442889,6,7,18,13
23,Gekko,Eliminated,UNRANKED,21,5477,1644379,2,21,12,6
24,Fade,Eliminated,SILVER_1,21,6606,2848583,5,21,13,4
25,Breach,Eliminated,SILVER_2,21,3442,2189459,9,11,14,13
26,Deadlock,Eliminated,BRONZE_3,21,4668,1744409,3,17,14,6
27,Raze,Eliminated,SILVER_1,21,4139,1787038,3,15,16,13
28,Chamber,Eliminated,UNRANKED,21,3193,2206076,1,13,10,9
29,KAY/O,Eliminated,SILVER_2,21,4509,2092269,10,16,13,13
30,Skye,Eliminated,BRONZE_2,22,5162,1468956,7,14,18,13
31,Cypher,Eliminated,BRONZE_2,22,8396,1597077,3,29,15,8
32,Sova,Bomb defused,IRON_3,22,3572,2622841,6,12,17,13
33,Sova,Bomb defused,IRON_2,22,8399,1761743,3,31,12,10
34,Killjoy,Bomb defused,UNRANKED,22,3520,2543436,3,13,15,13
35,Harbor,Bomb defused,IRON_3,22,4251,1983346,4,14,16,5
36,Viper,Eliminated,IRON_3,22,2441,1528166,7,7,21,13
37,Phoenix,Eliminated,UNRANKED,22,3161,2131901,4,8,20,8
38,Astra,Eliminated,BRONZE_1,22,5375,2423607,6,17,17,13
39,Brimstone,Eliminated,BRONZE_1,22,4569,1181344,5,19,13,3
40,Neon,Eliminated,IMMORTAL_3,23,2624,1486521,6,8,19,13
41,Yoru,Eliminated,IMMORTAL_1,23,4433,1968464,4,17,18,6
42,Sage,Eliminated,IMMORTAL_1,23,5297,1776747,7,20,14,13
43,Reyna,Eliminated,IMMORTAL_1,23,4162,2203411,7,15,13,8
44,Omen,Eliminated,IMMORTAL_3,23,5124,1446114,8,17,17,13
45,Jett,Eliminated,IMMORTAL_1,23,3957,1457098,4,13,20,9

In [28]:
from sklearn.preprocessing import LabelEncoder

# Initializing LabelEncoder for roundResult and competitiveTier
label_encoder1 = LabelEncoder()
label_encoder2 = LabelEncoder()

# Applying label encoding
agent_df["roundResult_encoded"] = label_encoder1.fit_transform(agent_df["roundResult"])
agent_df["competitiveTier_encoded"] = label_encoder2.fit_transform(agent_df["competitiveTier"])

# Dropping and rearranging columns
columns_to_drop = ["roundResult", "competitiveTier"]
agent_df_refined = agent_df.drop(columns=columns_to_drop)

agent_df_refined

,agent,roundsPlayed,score,gameLengthMillis,assists,kills,deaths,numPoints,roundResult_encoded,competitiveTier_encoded
0,Gekko,22,1140,2046675,0,4,8,9,1,5
1,Fade,22,6855,2083360,3,22,16,13,2,6
2,Breach,22,3669,2155617,2,12,17,13,2,10
3,Deadlock,22,4817,2307563,5,17,13,8,2,6
4,Raze,22,2580,2453157,4,9,11,8,2,6
5,Chamber,22,2875,1866841,10,10,10,13,1,7
6,KAY/O,22,1723,2228659,3,4,18,13,2,7
7,Skye,22,7816,1732559,4,27,12,9,0,7
8,Cypher,22,3586,1916596,3,12,10,13,0,5
9,Sova,22,3974,1956727,3,14,16,10,2,7
10,Sova,21,3705,1680136,6,15,13,13,0,1
11,Killjoy,21,4594,2238195,3,17,16,6,2,8
12,Harbor,21,4514,1802726,4,16,13,11,2,1
13,Viper,21,4671,1946813,6,15,17,13,2,8
14,Phoenix,21,2947,2359173,3,11,17,13,2,2
15,Astra,21,8995,2023205,2,32,14,6,2,2
16,Brimstone,21,3812,2517166,3,14,15,6,2,1
17,Neon,21,3213,1620200,5,8,19,13,2,1
18,Yoru,21,2108,1928216,7,6,16,7,2,1
19,Sage,21,5790,1791523,3,21,15,13,2,8
20,Reyna,21,4018,2206475,3,14,17,10,2,9
21,Omen,21,2841,1916070,3,9,17,8,2,9
22,Jett,21,2757,2442889,6,7,18,13,0,8
23,Gekko,21,5477,1644379,2,21,12,6,2,10
24,Fade,21,6606,2848583,5,21,13,4,2,8
25,Breach,21,3442,2189459,9,11,14,13,2,9
26,Deadlock,21,4668,1744409,3,17,14,6,2,2
27,Raze,21,4139,1787038,3,15,16,13,2,8
28,Chamber,21,3193,2206076,1,13,10,9,2,10
29,KAY/O,21,4509,2092269,10,16,13,13,2,9
30,Skye,22,5162,1468956,7,14,18,13,2,1
31,Cypher,22,8396,1597077,3,29,15,8,2,1
32,Sova,22,3572,2622841,6,12,17,13,0,7
33,Sova,22,8399,1761743,3,31,12,10,0,6
34,Killjoy,22,3520,2543436,3,13,15,13,0,10
35,Harbor,22,4251,1983346,4,14,16,5,0,7
36,Viper,22,2441,1528166,7,7,21,13,2,7
37,Phoenix,22,3161,2131901,4,8,20,8,2,10
38,Astra,22,5375,2423607,6,17,17,13,2,0
39,Brimstone,22,4569,1181344,5,19,13,3,2,0
40,Neon,23,2624,1486521,6,8,19,13,2,4
41,Yoru,23,4433,1968464,4,17,18,6,2,3
42,Sage,23,5297,1776747,7,20,14,13,2,3
43,Reyna,23,4162,2203411,7,15,13,8,2,3
44,Omen,23,5124,1446114,8,17,17,13,2,4
45,Jett,23,3957,1457098,4,13,20,9,2,3

In [29]:
# Isolating our independent variable X
X = agent_df_refined.drop("agent", axis=1).values
X[:5]

array([[     22,    1140, 2046675,       0,       4,       8,       9,
              1,       5],
       [     22,    6855, 2083360,       3,      22,      16,      13,
              2,       6],
       [     22,    3669, 2155617,       2,      12,      17,      13,
              2,      10],
       [     22,    4817, 2307563,       5,      17,      13,       8,
              2,       6],
       [     22,    2580, 2453157,       4,       9,      11,       8,
              2,       6]])

In [30]:
# Isolating our dependent variable y
y = agent_df_refined["agent"].values
y

array(['Gekko', 'Fade', 'Breach', 'Deadlock', 'Raze', 'Chamber', 'KAY/O',
       'Skye', 'Cypher', 'Sova', 'Sova', 'Killjoy', 'Harbor', 'Viper',
       'Phoenix', 'Astra', 'Brimstone', 'Neon', 'Yoru', 'Sage', 'Reyna',
       'Omen', 'Jett', 'Gekko', 'Fade', 'Breach', 'Deadlock', 'Raze',
       'Chamber', 'KAY/O', 'Skye', 'Cypher', 'Sova', 'Sova', 'Killjoy',
       'Harbor', 'Viper', 'Phoenix', 'Astra', 'Brimstone', 'Neon', 'Yoru',
       'Sage', 'Reyna', 'Omen', 'Jett'], dtype=object)

## Creating the Decision Tree Model

In [31]:
# Spliting data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=78)

In [32]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [33]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [34]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Decision Tree Model

In [35]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [36]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

## Making Predictions and Model Evaluation

In [37]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [38]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

ValueError: Shape of passed values is (14, 14), indices imply (2, 2)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))