## Valorant Decision Tree Model

In [67]:
# Initial imports
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import accuracy_score 
from sqlalchemy import create_engine, Column, Integer, String, Boolean, Float, ForeignKey

# import tensorflow as tf
# from tensorflow import keras
# from tensorflow.keras import layers
# from kerastuner.tuners import RandomSearch
# from tensorflow.keras.callbacks import EarlyStopping

## Loading and Preparing Agent Data

In [68]:
import sqlite3

# Create database connection
engine = create_engine('sqlite:///SQLite/Valorant.sqlite')

In [69]:
# Querying and creating Dataframe
query_1 = """
    SELECT agents.agent, team_stats.roundsWon, round_results.roundResult, player_stats.competitiveTier, player_stats.roundsPlayed, player_stats.score, match_info.gameLengthMillis, player_stats.assists, player_stats.kills, player_stats.deaths, team_stats.numPoints
    FROM agents
    INNER JOIN round_results ON agents.id = round_results.id
    INNER JOIN player_stats ON agents.id = player_stats.id
    INNER JOIN player_kills ON agents.id = player_kills.id 
    INNER JOIN match_info ON agents.id = match_info.id
    INNER JOIN team_stats ON agents.id = team_stats.id
"""

agent_df = pd.read_sql(query_1, engine)
agent_df

,agent,roundsWon,roundResult,competitiveTier,roundsPlayed,score,gameLengthMillis,assists,kills,deaths,numPoints
0,Gekko,9,Bomb detonated,IRON_1,22,1140,2046675,0,4,8,9
1,Fade,13,Eliminated,IRON_2,22,6855,2083360,3,22,16,13
2,Breach,13,Eliminated,UNRANKED,22,3669,2155617,2,12,17,13
3,Deadlock,8,Eliminated,IRON_2,22,4817,2307563,5,17,13,8
4,Raze,8,Eliminated,IRON_2,22,2580,2453157,4,9,11,8
5,Chamber,13,Bomb detonated,IRON_3,22,2875,1866841,10,10,10,13
6,KAY/O,13,Eliminated,IRON_3,22,1723,2228659,3,4,18,13
7,Skye,9,Bomb defused,IRON_3,22,7816,1732559,4,27,12,9
8,Cypher,13,Bomb defused,IRON_1,22,3586,1916596,3,12,10,13
9,Sova,10,Eliminated,IRON_3,22,3974,1956727,3,14,16,10
10,Sova,13,Bomb defused,BRONZE_2,21,3705,1680136,6,15,13,13
11,Killjoy,6,Eliminated,SILVER_1,21,4594,2238195,3,17,16,6
12,Harbor,11,Eliminated,BRONZE_2,21,4514,1802726,4,16,13,11
13,Viper,13,Eliminated,SILVER_1,21,4671,1946813,6,15,17,13
14,Phoenix,13,Eliminated,BRONZE_3,21,2947,2359173,3,11,17,13
15,Astra,6,Eliminated,BRONZE_3,21,8995,2023205,2,32,14,6
16,Brimstone,6,Eliminated,BRONZE_2,21,3812,2517166,3,14,15,6
17,Neon,13,Eliminated,BRONZE_2,21,3213,1620200,5,8,19,13
18,Yoru,7,Eliminated,BRONZE_2,21,2108,1928216,7,6,16,7
19,Sage,13,Eliminated,SILVER_1,21,5790,1791523,3,21,15,13
20,Reyna,13,Eliminated,SILVER_2,21,4018,2206475,3,14,17,10
21,Omen,8,Eliminated,SILVER_2,21,2841,1916070,3,9,17,8
22,Jett,13,Bomb defused,SILVER_1,21,2757,2442889,6,7,18,13
23,Gekko,6,Eliminated,UNRANKED,21,5477,1644379,2,21,12,6
24,Fade,4,Eliminated,SILVER_1,21,6606,2848583,5,21,13,4
25,Breach,13,Eliminated,SILVER_2,21,3442,2189459,9,11,14,13
26,Deadlock,6,Eliminated,BRONZE_3,21,4668,1744409,3,17,14,6
27,Raze,13,Eliminated,SILVER_1,21,4139,1787038,3,15,16,13
28,Chamber,9,Eliminated,UNRANKED,21,3193,2206076,1,13,10,9
29,KAY/O,13,Eliminated,SILVER_2,21,4509,2092269,10,16,13,13
30,Skye,13,Eliminated,BRONZE_2,22,5162,1468956,7,14,18,13
31,Cypher,8,Eliminated,BRONZE_2,22,8396,1597077,3,29,15,8
32,Sova,13,Bomb defused,IRON_3,22,3572,2622841,6,12,17,13
33,Sova,10,Bomb defused,IRON_2,22,8399,1761743,3,31,12,10
34,Killjoy,13,Bomb defused,UNRANKED,22,3520,2543436,3,13,15,13
35,Harbor,5,Bomb defused,IRON_3,22,4251,1983346,4,14,16,5
36,Viper,13,Eliminated,IRON_3,22,2441,1528166,7,7,21,13
37,Phoenix,8,Eliminated,UNRANKED,22,3161,2131901,4,8,20,8
38,Astra,13,Eliminated,BRONZE_1,22,5375,2423607,6,17,17,13
39,Brimstone,3,Eliminated,BRONZE_1,22,4569,1181344,5,19,13,3
40,Neon,13,Eliminated,IMMORTAL_3,23,2624,1486521,6,8,19,13
41,Yoru,6,Eliminated,IMMORTAL_1,23,4433,1968464,4,17,18,6
42,Sage,13,Eliminated,IMMORTAL_1,23,5297,1776747,7,20,14,13
43,Reyna,8,Eliminated,IMMORTAL_1,23,4162,2203411,7,15,13,8
44,Omen,13,Eliminated,IMMORTAL_3,23,5124,1446114,8,17,17,13
45,Jett,9,Eliminated,IMMORTAL_1,23,3957,1457098,4,13,20,9

In [70]:
from sklearn.preprocessing import LabelEncoder

# Initializing LabelEncoder for roundResult and competitiveTier
label_encoder1 = LabelEncoder()
label_encoder2 = LabelEncoder()
label_encoder3 = LabelEncoder()

# Applying label encoding
agent_df["roundResult_encoded"] = label_encoder1.fit_transform(agent_df["roundResult"])
agent_df["competitiveTier_encoded"] = label_encoder2.fit_transform(agent_df["competitiveTier"])
agent_df["agent_encoded"] = label_encoder3.fit_transform(agent_df["agent"])

# Dropping and rearranging columns
columns_to_drop = ["roundResult", "competitiveTier", "agent"]
agent_df_refined = agent_df.drop(columns=columns_to_drop)

agent_df_refined

,roundsWon,roundsPlayed,score,gameLengthMillis,assists,kills,deaths,numPoints,roundResult_encoded,competitiveTier_encoded,agent_encoded
0,9,22,1140,2046675,0,4,8,9,1,5,7
1,13,22,6855,2083360,3,22,16,13,2,6,6
2,13,22,3669,2155617,2,12,17,13,2,10,1
3,8,22,4817,2307563,5,17,13,8,2,6,5
4,8,22,2580,2453157,4,9,11,8,2,6,15
5,13,22,2875,1866841,10,10,10,13,1,7,3
6,13,22,1723,2228659,3,4,18,13,2,7,10
7,9,22,7816,1732559,4,27,12,9,0,7,18
8,13,22,3586,1916596,3,12,10,13,0,5,4
9,10,22,3974,1956727,3,14,16,10,2,7,19
10,13,21,3705,1680136,6,15,13,13,0,1,19
11,6,21,4594,2238195,3,17,16,6,2,8,11
12,11,21,4514,1802726,4,16,13,11,2,1,8
13,13,21,4671,1946813,6,15,17,13,2,8,20
14,13,21,2947,2359173,3,11,17,13,2,2,14
15,6,21,8995,2023205,2,32,14,6,2,2,0
16,6,21,3812,2517166,3,14,15,6,2,1,2
17,13,21,3213,1620200,5,8,19,13,2,1,12
18,7,21,2108,1928216,7,6,16,7,2,1,21
19,13,21,5790,1791523,3,21,15,13,2,8,17
20,13,21,4018,2206475,3,14,17,10,2,9,16
21,8,21,2841,1916070,3,9,17,8,2,9,13
22,13,21,2757,2442889,6,7,18,13,0,8,9
23,6,21,5477,1644379,2,21,12,6,2,10,7
24,4,21,6606,2848583,5,21,13,4,2,8,6
25,13,21,3442,2189459,9,11,14,13,2,9,1
26,6,21,4668,1744409,3,17,14,6,2,2,5
27,13,21,4139,1787038,3,15,16,13,2,8,15
28,9,21,3193,2206076,1,13,10,9,2,10,3
29,13,21,4509,2092269,10,16,13,13,2,9,10
30,13,22,5162,1468956,7,14,18,13,2,1,18
31,8,22,8396,1597077,3,29,15,8,2,1,4
32,13,22,3572,2622841,6,12,17,13,0,7,19
33,10,22,8399,1761743,3,31,12,10,0,6,19
34,13,22,3520,2543436,3,13,15,13,0,10,11
35,5,22,4251,1983346,4,14,16,5,0,7,8
36,13,22,2441,1528166,7,7,21,13,2,7,20
37,8,22,3161,2131901,4,8,20,8,2,10,14
38,13,22,5375,2423607,6,17,17,13,2,0,0
39,3,22,4569,1181344,5,19,13,3,2,0,2
40,13,23,2624,1486521,6,8,19,13,2,4,12
41,6,23,4433,1968464,4,17,18,6,2,3,21
42,13,23,5297,1776747,7,20,14,13,2,3,17
43,8,23,4162,2203411,7,15,13,8,2,3,16
44,13,23,5124,1446114,8,17,17,13,2,4,13
45,9,23,3957,1457098,4,13,20,9,2,3,9

In [71]:
# Isolating our independent variable X
X = agent_df_refined.drop("roundsWon", axis=1).values
X[:5]

array([[     22,    1140, 2046675,       0,       4,       8,       9,
              1,       5,       7],
       [     22,    6855, 2083360,       3,      22,      16,      13,
              2,       6,       6],
       [     22,    3669, 2155617,       2,      12,      17,      13,
              2,      10,       1],
       [     22,    4817, 2307563,       5,      17,      13,       8,
              2,       6,       5],
       [     22,    2580, 2453157,       4,       9,      11,       8,
              2,       6,      15]])

In [72]:
# Isolating our dependent variable y
y = agent_df_refined["roundsWon"].values
y

array([ 9, 13, 13,  8,  8, 13, 13,  9, 13, 10, 13,  6, 11, 13, 13,  6,  6,
       13,  7, 13, 13,  8, 13,  6,  4, 13,  6, 13,  9, 13, 13,  8, 13, 10,
       13,  5, 13,  8, 13,  3, 13,  6, 13,  8, 13,  9])

## Creating the Decision Tree Model

In [73]:
# Spliting data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=78)

In [74]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [75]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [76]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Decision Tree Model

In [77]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [78]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

## Making Predictions and Model Evaluation

In [79]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [80]:
# Calculate the classification report
class_report = classification_report(y_test, predictions)
acc_score = accuracy_score(y_test, predictions)

# Print the classification report
print(class_report)
print(f"Accuracy Score : {acc_score}")

              precision    recall  f1-score   support

           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         0
           6       0.67      1.00      0.80         2
           7       0.00      0.00      0.00         1
           8       1.00      1.00      1.00         1
           9       0.00      0.00      0.00         1
          10       0.50      1.00      0.67         1
          13       1.00      1.00      1.00         5

    accuracy                           0.75        12
   macro avg       0.40      0.50      0.43        12
weighted avg       0.65      0.75      0.69        12

Accuracy Score : 0.75

/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/john/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))